@import "tailwindcss";

@theme {
  --font-sans: 'Poppins', sans-serif;
  --color-qupiqpurple: oklch(60.12% 0.1 292.39);
  --color-qubiqblue: oklch(46.96% 0.1378 247.59);
}

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .btn-primary {
    @apply bg-qupiqpurple text-sm text-white hover:bg-qupiqpurple/80 duration-500 rounded-lg py-1.5 px-3;
  }
}
